<div class="row">
  <%= form_for @article do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :title, placeholder: "タイトル", class: "materialize-textarea" %>
      <%= f.text_area :text, placeholder: "本文", class: "materialize-textarea" %>
      <%= button_tag type: "submit", class: "btn waves-effect waves-light brown darken-3" do %>投稿する<i class="material-icons"></i>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
