.container  {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 50px;
}

.container .row {
  margin: 0 auto;
}

.content-wrapper {
  width: 800px;
  margin: 0 auto;
}

.header-wrapper {
  float: right;
  text-align: right;
}
a.post {
    @extend .btn;
    width: 120px;
    display: inline-left;
    margin-left: 10px;
}

.card-action a{
    min-width: 100px;
    text-align: center;
    color: white;
}


.delete-button {
  float: right;
  background-color: gray;
}

#delete-link {
  text-align: center;
  color: white;
  margin-right: 0px;
}
