@import url('https://fonts.googleapis.com/css?family=Knewave');

body {
  background-color: #d7ccc8;
  /*background-image: url("");
  background-repeat: no-repeat;
  background-attachment: fixed;*/
}

.nav-wrapper {
  background-color: #6d4c41;
}

nav .mybrand-logo {
  color: #d7ccc8;
  position: absolute;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  font-family: 'Knewave', cursive;
}

.container  {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 50px;
}

.container .row {
  margin: 0 auto;
}

.content-wrapper {
  width: 800px;
  margin: 0 auto;
}

.header-wrapper {
  float: right;
  text-align: right;
}
/*a.post {
    @extend .btn;
    width: 120px;
    display: inline-left;
    margin-left: 10px;
    }*/

/*.index_action_btn {
  @extend .btn
  background-color: black;
  }*/

  .card-action a{
    min-width: 100px;
    text-align: center;
    color: white;
  }


  .delete-button {
    float: right;
    background-color: gray;
  }

  #button-link {
    text-align: center;
    color: white;
    margin-right: 0px;
  }

  .show-row {
    margin: 0 auto;
    width: 60%;
  }

.post-link {
  color: #d7ccc8;
  box-shadow: 0 0 20px 5px #d7ccc8 inset;
}

